<!DOCTYPE html>
<html ng-app="app" ng-controller="masterCtrl as m" lang="no" manifest="manifest.appcache">
<head>
  <meta charset="utf-8">
  <title>Real-Timer — Den raskeste måten å sjekke når kollektivtransporten kommer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Real-Timer">
  <link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />
  <link rel="icon" href="assets/favicon.ico">
  <style ng-bind="m.css"></style>
</head>
<body>
  <header>
    <h2>Real-Timer</h2>
  </header>
  <spacer></spacer>

  <div class="content" ng-if="!m.success" ng-bind="m.status" style="padding-top:20px">Fikk ikke tilgang til stedstjenester</div>

  <widget class="content" ng-repeat="(index, stop) in m.data track by $index" ng-if="m.success" class="content stop content-row-wrapper"></widget>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <link rel="stylesheet" href="assets/main.css">
  <script src="assets/app.js"></script>
  <script src="assets/widget.js"></script>
  <script>(function(a,e,f,g,b,c,d){a.GoogleAnalyticsObject=b;a[b]=a[b]||function(){(a[b].q=a[b].q||[]).push(arguments)};a[b].a=1*new Date;c=e.createElement(f);d=e.getElementsByTagName(f)[0];c.async=1;c.src=g;d.parentNode.insertBefore(c,d)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create","UA-69446843-3","auto");ga("send","pageview")</script>
</body>
</html>
