body {
  font-family: ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: #333;
}
header {
  width: 100%;
  background: #FEFEFE;
  margin: auto;
  border: 1px solid #CCC;
  letter-spacing: 1px;
  height: 66px;
  text-align: center;
  z-index: 1000;
}
spacer {
  margin-bottom: 35px;
}
@media screen and (min-height: 570px) {
  header {
    position: fixed;
  }
  spacer {
    display: block;
    height: 50px;
  }
}
.stop.impanded>iframe {
  height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
}
.area.impanded>.stop {
  height: 0 !important;
}
.stop.impanded>.content-row {
  margin-bottom: -15px;
}
iframe {
  border: 0;
  height: 0;
  width: 100%;
  max-width: 500px;
  transition: height 0.25s ease-in-out;
  border-radius: 15px;
  margin-bottom: -5px;
  min-height: 40px;
}
.content {
  width: 90%;
  background: #FEFEFE;
  overflow-y: hidden;
  border: 1px solid #CCC;
  margin: 17.5px auto;
  text-align: center;
  max-width: 500px;
  border-radius: 15px;
  min-height: 45px;
}
.padded {
  padding: 30px 10px;
  min-height: initial !important;
}
.content-row {
  display: flex;
  padding: 12px;
  cursor: pointer;
  justify-content: space-between;
  transition: margin 0.25s ease-in-out;
}
.content-row>* {
  flex: 1;
}
.content-row>*:first-child {
  text-align: left;
}
.content-row>* {
  text-align: center;
}
.content-row>*:last-child {
  text-align: right;
}
.show {
  display: block !important;
}
