body {
  font-family: ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: #333;
  color: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  width: 100%;
  background: #FEFEFE;
  margin: auto;
  border: 1px solid #CCC;
  letter-spacing: 1px;
  height: 40px;
  text-align: center;
  z-index: 1000;
}
h2 {
  margin-top: 6px;
  font-weight: 100;
}
spacer {
  margin-bottom: 35px;
}
@media screen and (min-height: 570px) {
  header {
    position: fixed;
  }
  spacer {
    display: block;
    height: 20px;
  }
}
.content {
  width: 90%;
  background: #FEFEFE;
  overflow-y: hidden;
  border: 1px solid #CCC;
  margin: 14.5px auto;
  text-align: center;
  max-width: 500px;
  border-radius: 7.5px;
  min-height: 40px;
  min-width: 292px;
  display:block;
}
.content-row {
  display: flex;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
  transition: margin 0.25s ease-in-out;
}
.content-row>* {
  flex: 1;
}
.content-row>*:first-child {
  text-align: left;
  flex:3;
}
.content-row>* {
  text-align: center;
}
.content-row>*:last-child {
  text-align: right;
}
.show {
  display: block !important;
}
.widget {
  background: #333333;
  display: block;
  color: #ccc;
  border-radius: 7.5px;
  padding: 5px;
  font-size:0.9em;
}
.top-bar {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
}
.top-bar div {
  height: 32px;
  line-height: 32px;
}
.update {
  color: #333;
  border-radius: 5px;
  min-width: 100px;
}
.update.clickable {
  cursor:pointer;
}
.heading, .update.clickable {
  color: #333;
  background-color: #ccc;
  font-size: 1.1em;
}
.update.clickable::before {
  content: "↻ ";
  font-weight: 700;
}
ul {
  padding-left: 0;
  max-width: 100%;
  margin: 10px;
  list-style-type:none;
  text-align: left;
}
li {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}
.heading {
  padding: 2px 7.5px;
  font-variant: small-caps;
  letter-spacing: 2px;
  border-radius: 7px 7px 0 0;
  margin: -5px -5px 0 -5px;
}
.list {
  padding: 8px;
  color: #fed100;
}
.item {
  margin-right: 10px;
}
.item.white {
  color:#ccc;
}
a.check {
  display:none;
}
.deviation>a {
  color: #fed100;
}
.deviation>a::before {
  content: "⚠ ";
  margin: 0 5px 0 7.5px;
}
c {
  text-align: center;
  display:block;
}
